<form
  class="auth-form"
  [formGroup]="form"
  (ngSubmit)="onSubmit()"
>
  <h2 class="auth-form__title">Регистрация</h2>
  <a [routerLink]="['/login']" class="link">Есть аккаунт?</a>
  <mc-backend-error-messages  [errors]="backendErrors$ | async"></mc-backend-error-messages>
  <div
    class="auth-form__card"
  >
    <fieldset class="auth-form__fieldset">
      <label class="auth-form__label" for="username">Логин</label>
      <input
        type="text"
        class="input"
        formControlName="username"
        id="username"
      />
    </fieldset>
    <fieldset class="auth-form__fieldset">
      <label class="auth-form__label" for="email">Email</label>
      <input
        type="text"
        class="input"
        formControlName="email"
        id="email"
      />
    </fieldset>
    <fieldset class="auth-form__fieldset">
      <label class="auth-form__label" for="password">Пароль</label>
      <input
        type="password"
        class="input"
        formControlName="password"
        id="password"
      />
    </fieldset>
  </div>

  <button
    class="button"
    type="submit"
    [disabled]="isSubmitting$ | async"
  >
    Зарегистрироваться
  </button>
</form>
