<form
  class="auth-form"
  [formGroup]="form"
  (ngSubmit)="onSubmit()"
>
  <h2 class="auth-form__title">Вход</h2>
  <a [routerLink]="['/register']" class="link">Нет аккаунта?</a>
  <mc-backend-error-messages  [errors]="backendErrors$ | async"></mc-backend-error-messages>
  <div
    class="auth-form__card"
  >
    <div class="auth-form__group">
      <label class="auth-form__label" for="email">Email</label>
      <input
        type="text"
        class="input"
        formControlName="email"
        id="email"
      />
    </div>
    <div class="auth-form__group">
      <label class="auth-form__label" for="password">Пароль</label>
      <input
        type="password"
        class="input"
        formControlName="password"
        id="password"
      />
    </div>
  </div>

  <button
    class="button"
    type="submit"
    [disabled]="isSubmitting$ | async"
  >
    Войти
  </button>
</form>
