<article class="border-t-slate-200 border-t flex flex-col gap-3">
  <div class="flex justify-between items-center pt-3">
    <div class="flex gap-2 items-center">
      <mc-avatar [imageUrl]="articleProps.author.image" size="md"></mc-avatar>
      <div class="flex flex-col">
        <a href="#" class="text-xs link">{{ articleProps.author.username }}</a>
        <span class="text-xs">{{
          articleProps.createdAt | date : 'd LLL в hh:mm'
        }}</span>
      </div>
    </div>
    <button
      class="border-primary border px-2 rounded text-primary text-sm flex items-center gap-1"
    >
      <ng-icon class="text-primary" name="heroHeart"></ng-icon>
      {{ articleProps.favoritesCount }}
    </button>
  </div>
  <h2 class="text-xl font-semibold">{{ articleProps.title }}</h2>
  <p>{{ articleProps.description }}</p>
  <div class="flex justify-between">
    <a href="#" class="text-slate-500 text-xs hover:text-primary"
      >Читать далее</a
    >
    <div class="inline-flex gap-1">
      <a
        href="#"
        *ngFor="let tag of articleProps.tagList"
        class="text-xs border text-slate-400 border-slate-400 inline-block px-3 py-[2px] rounded-full hover:text-primary hover:border-primary"
        >{{ tag }}</a
      >
    </div>
  </div>
</article>
