<div class="flex gap-5 flex-col">

  <div *ngFor="let item of countProps" class="flex gap-3 flex-col">
    <ngx-skeleton-loader  [theme]="{height: '1px', margin: '0', padding: 0, display: 'block'}" appearance="line"></ngx-skeleton-loader>
    <div class="flex justify-between items-center">
      <div class="flex  gap-2">
        <ngx-skeleton-loader  [theme]="{height: '32px', width: '32px', margin: '0', padding: 0, display: 'block'}" appearance="circle"></ngx-skeleton-loader>
        <div class="flex flex-col gap-0 justify-between" >
          <ngx-skeleton-loader  [theme]="{height: '12px', width: '120px', margin: '0', padding: 0,  display: 'block'}" appearance="line"></ngx-skeleton-loader>
          <ngx-skeleton-loader  [theme]="{height: '12px', width: '120px', margin: '0', padding: 0,  display: 'block'}" appearance="line"></ngx-skeleton-loader>
        </div>
      </div>
      <ngx-skeleton-loader  [theme]="{height: '24px', width: '78px', margin: '0', padding: 0,  display: 'block'}" appearance="line"></ngx-skeleton-loader>
    </div>
    <ngx-skeleton-loader  [theme]="{height: '32px',  display: 'block'}" appearance="line"></ngx-skeleton-loader>
    <ngx-skeleton-loader  [theme]="{height: '56px', display: 'block'}" appearance="line"></ngx-skeleton-loader>
    <div class="flex justify-between items-center">
      <ngx-skeleton-loader  [theme]="{height: '12px', width: '120px', margin: '0', padding: 0,  display: 'block'}" appearance="line"></ngx-skeleton-loader>
      <div class="flex gap-2">
        <ngx-skeleton-loader  [theme]="{height: '24px', width: '100px', margin: '0', padding: 0,  display: 'block'}" appearance="line"></ngx-skeleton-loader>
        <ngx-skeleton-loader  [theme]="{height: '24px', width: '50px', margin: '0', padding: 0,  display: 'block'}" appearance="line"></ngx-skeleton-loader>
        <ngx-skeleton-loader  [theme]="{height: '24px', width: '40px', margin: '0', padding: 0,  display: 'block'}" appearance="line"></ngx-skeleton-loader>
      </div>
    </div>
  </div>

</div>
